.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 3fr 1fr;
}

.header1 {
  grid-column-start: 1;
  grid-column-end: 4;

  grid-row-start: 1;
  grid-row-end: 2;
}

.header2 {
  grid-column-start: 4;
  grid-column-end: 5;

  grid-row-start: 1;
  grid-row-end: 2;
}

.article1 {
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 2;
  grid-row-end: 3;
}

.article2 {
  grid-column-start: 2;
  grid-column-end: span 3;

  grid-row-start: 2;
  grid-row-end: 3;
}

.footer1 {
  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 3;
  grid-row-end: 4;
}

.footer2 {
  grid-column-start: 3;
  grid-column-end: span 2;

  grid-row-start: 3;
  grid-row-end: 5;
}
