:root {
  --xs: 0.25rem;
  --s: 0.5rem;
  --m: 1rem;
  --l: 2rem;
  --xl: 4rem;

  --body-size: 16px;
  --title-size: 22px;

  --body-font: 'Roboto', sans-serif;
  --title-font: 'Roboto Mono', monospace;

  --primary-color: #e3e9f4;
  --on-primary-color: #ABC8FF;

  --secondary-color: #F5EFE4;
  --on-secondary-color: #A89A7B;

  --surface-color: white;
  --on-surface-color: #253238;

  --content-width: 60rem;
}
