.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 2fr;
}

.aside1 {
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 3;
}
.aside2 {
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 3;
  grid-row-end: 4;
}

.header {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;
}

.article {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 2;
  grid-row-end: 4;
}
